node_modules
npm-debug.log
*.sqlite
.nyc_output
unit-coverage.txt
integration-coverage.txt
stryker.log
.stryker-tmp
reports
access.log
log
.DS_Store
coverage
config/*
!config/index.js
!config/production.js
!config/test.js
.scannerwork
